:root {
  --primary-light: rgb(255, 255, 255);
  --secondary-light: rgb(249, 244, 255);
  --primary-dark: rgb(39, 32, 68);
  --secondary-dark: rgb(30, 27, 44);
  --accent-color: rgb(176, 55, 29);
  --header-font: "Spectral", serif;
  --main-font: "Source Sans 3", sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--primary-dark);
}

header {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.56),
      rgba(39, 32, 68, 0.56)
    ),
    url(../images/stephen-king.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary-light);
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2 {
  font-family: var(--header-font);
  font-weight: 800;
}
h1 {
  font-size: 128px;
  margin-bottom: 16px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-weight: 700;
  font-size: 40px;
}
h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 5px;
}
h5 {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--accent-color);
  padding-left: 11px;
  border-left: solid 5px var(--accent-color);
  margin-bottom: 7px;
}
h6 {
  font-weight: 700;
  font-size: 24px;
}
p {
  font-weight: 400;
  font-size: 16px;
  opacity: 70%;
  margin: 32px 0;
  line-height: 26px;
}
span {
  font-weight: 700;
  font-size: 16px;
}

button {
  padding: 16px 32px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
}
button a {
  font-weight: 700;
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-light);
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
footer {
  padding: 89px 179px;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/stephen-king-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-light);
}
footer a {
  color: var(--primary-light);
}
footer div {
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 24px;
}
footer div ul,
footer div p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  opacity: 100%;
  margin-top: 16px;
}
footer ul {
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0 !important;
}
footer ul a {
  text-decoration: none;
}
footer ul a:hover {
  text-decoration: underline;
}
footer a:hover {
  color: var(--accent-color);
}
.container {
  max-width: 1400px;
  width: 98vw;
  margin: 0 auto;
}
.header-main {
  margin: 64px 0;
}
.header-content {
  padding: 214px 0;
}
.img-responsive {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.grid {
  display: grid;
  grid-gap: 64px;
  align-items: center;
}
.grid-30 {
  display: grid;
  grid-gap: 30px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.section-head-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondary {
  background-color: var(--secondary-light);
}
.card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--primary-light);
  margin-top: 45px;
  position: relative;
}
.card-header img {
  width: 100%;
  object-fit: cover;
  height: 230px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-body {
  padding: 0 32px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.card-footer {
  padding: 0px 32px 24px 32px;
  background-color: var(--primary-light);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-body p,
.card-footer p {
  margin: 8px 0 0 0;
}
.card-footer button {
  margin-top: 24px;
  width: 100%;
}
.card-grid-mobile {
  display: none;
}
.responsive-video iframe {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
}
.videos {
  margin-top: 45px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 64px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 12px;
  }
  .header-content {
    padding: 60px 0;
  }
  .header-main {
    margin: 32px 0;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  .card-grid-mobile {
    display: grid;
  }
  .card-grid-desktop {
    display: none;
  }
  footer {
    padding: 45px 60px;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 32px;
    text-align: center;
  }
}
